.nav-item:nth-child(2) a {
    /* Nav ativo */
    font-weight: bold;
}

body {
    overflow-x: hidden;
}

/* Fundo */

.body-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #eaeaea;
    z-index: -1;
}

.body-overlay img, .body-overlay video {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    /*background: rgba(0, 0, 0, 0.8);*/
    z-index: -1;
}

.overlay-escuro {
	background: rgba(0, 0, 0, 0.8);
}

/* */

section {
    display: grid;
    grid-template-columns: auto;
    justify-content: end;
}

/* Botao Circular */

.circles-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.circle {
    position: absolute;
    width: 50px;
    height: 50px;
    padding: 25px;
    margin-left: -25px;
    background: #e20413;
    border-radius: 50%;
    text-align: right;
    color: #fff;
    transition: .5s;
}

.circle:hover {
    background: #990916;
    cursor: pointer;
    transition: .5s;
}

.show-text { /* Div que possui icone e texto */
    display: grid;
    justify-content: right;
}

.circle-text { /* Texto */
    margin-top: -13px;
    margin-right: 40px;
    font-weight: bold;
    font-size: 20px;
    visibility: hidden;
    transition: visibility .5s;
}

.circle-content { /* Icone */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle-content {
    font-size: 20px;
}

.main-circle {
    position: fixed;
    top: 85%;
    z-index: 1;
}

.main-circle .circle {
    animation: pulse 2s;
    animation-iteration-count: 3;
}

@keyframes pulse {
    33.33% {
        box-shadow: 0 0 1px 10px rgba(226, 4, 19, 0.2);
    }

    66.66% {
        box-shadow: 0 0 1px 10px rgba(226, 4, 19, 0.2), 0 0 1px 20px rgba(226, 4, 19, 0.2);
    }

    100% {
        box-shadow: 0 0 1px 10px rgba(226, 4, 19, 0), 0 0 1px 20px rgba(226, 4, 19, 0);
    }
}

.other-circles {
    position: absolute;
    top: 85%;
    opacity: 0;
    transition: .5s;
}

.other-circles-active {
    opacity: 1;
    transition: .5s;
}

.other-circles-active .circle-text {
    visibility: visible;
    transition: visibility 0s;
}

.other-circles-active .circle {
    transition: .5s;
}

.other-circles-active .circle1 {
    transform: translateY(-75px);
}

.other-circles-active .circle2 {
    transform: translateY(-150px);
}

.other-circles-active .circle3 {
    transform: translateY(-225px);
}

.other-circles-active .circle4 {
    transform: translateY(-300px);
}

.other-circles-active .circle5 {
    transform: translateY(-375px);
}

/* */